
#join {
    position:relative;
    left: 235px;
    bottom: 90px;
  }
  
  .card {
    display: flex;
    position: relative;
    left: 38%
  }
  
#group-pic {
    position: relative;
    top: 50px;
    left: 10px
  
  
  }
  
  #Group_num, #Group_name, #Group_Member {
    position: relative;
    left: 100px;
    bottom: 40px;
  }
  
  