.material-icons.md-48 {
  font-size: 48px;
}


.titletext {
  text-align: center;
}

@media screen and (max-width: 990px) {
  .justify-content-center .align-items-center {
    flex: 50%;
    min-width: 50%;
    flex-shrink: 1;
    left: 100%;
  }

}
