.material-icons.md-48 {
  font-size: 48px;
  color: white;
}


.titletext {
  text-align: center;
}

@media screen and (max-width: 990px) {
  .justify-content-center .align-items-center {
    flex: 50%;
    min-width: 50%;
    flex-shrink: 1;
    left: 100%;
  }

}

.icon-text {
  color: rgb(231, 231, 231);
  font-size: 1.2rem;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin: 0;
}

body {
  min-height: 400px;
  margin-bottom: 100px;
  clear: both;
}