.material-icons.md-48 {
  font-size: 48px;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.height {
  height: 100vh;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  width: 520px;
  margin: auto;
  left: 6%;
}

.search input {
  height: 60px;
  text-indent: 5px;
  border: 2px solid #d6d4d4;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 110px;
}

.titletext {
  text-align: center;
}

#join {
  position:relative;
  left: 235px;
  bottom: 90px;
}

.card{
  display: flex;
  position: relative;
  left: 38%
  
}

@media screen and (max-width: 990px) {
  .justify-content-center .align-items-center {
    flex: 50%;
    min-width: 50%;
    flex-shrink: 1;
    left: 100%;
  }

}

#group-pic {
  position: relative;
  top: 50px;
  left: 10px


}

#Group_num, #Group_name, #Group_Member {
  position: relative;
  left: 100px;
  bottom: 40px;
}

